
main,body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.cart-main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    .cart-item{
        padding: 1rem;
        margin-top: 20px;
        background-color: rgb(42, 86, 189);
        height: 200px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }
}
.cart-img-div{
    flex: 1;
}
.cart-info{
    flex: 1     ;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .quantity-div{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .button{
        border: none;
        border-radius: 0.5rem;
        background-color: grey;
        width: 2rem;
    }
    .quantity-input{
        width: 5rem;
    }
    .order{
        padding: 0.5rem;
        margin: 10px 0px 0px 0px;
        display: flex;
        background-color: rgb(136, 52, 52);
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 700px;
        border-radius: 0.5rem;
        .button{
            width: 5rem;
        }
    }
    .delete{
        background-color:rgb(42, 86, 189);
        border: none;
        padding: 0.25rem;
        color: rgb(248, 2, 2);
        cursor: pointer;
    }