.main-item-page{
    padding: 2rem;
    background-color: rgb(200, 198, 145);
}

.items-page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem 2rem;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.prev-btn-div,
.next-btn-div {
    width: 150px;
}

.next-btn-div {
    display: flex;
    justify-content: flex-end;
}